.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: #001529; /* default dark theme */
}

.nav-container {
  width: 100%;
  /* max-width: 1000px; */
  
}

.center-menu {
  flex: none;
  border-bottom: none;
}
